<div >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" >
                <div class="card" >
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Update Profile</h4> 
                    </div>
                   
                    <div class="card-content"  >
                       <div class="row" >
                            <div class="col-md-2">Name</div>
                            <div class="col-md-3">{{UserData.firstname+" "+UserData.lastname}}</div>
                            <div class="col-md-2">Gender</div>
                            <div class="col-md-3">{{UserData.gender}}</div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="row" >
                            <div class="col-md-2">Date of Birth</div>
                            <div class="col-md-3">{{UserData.date_of_birth | date}}</div>
                            <div class="col-md-2">Email Id</div>
                            <div class="col-md-3">{{UserData.email_address}}</div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="row" >
                            <div class="col-md-2">Address</div>
                            <div class="col-md-3" *ngIf="UserData.address then thenBlock else elseBlock">
                                {{UserData.address}}
                            </div>
                            <ng-template #elseBlock>N/A</ng-template> 
                        </div>
                            
    				 </div>
                </div>
            </div>
        </div>
    </div>
</div>

