<div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/angular2-logo-red.png"/>
        </div>
        My Theme
    </a>
</div>
<div class="sidebar-wrapper">
 	<div class="nav-container">
        <ul class="nav">
            <li>
            	<a routerLink="/dashboard"><i class="material-icons"></i><p>Dashboard</p></a>
            </li>
			<li><a routerLink="/login">Login</a></li>
			<li><a routerLink="">Home</a></li>
			<li><a routerLink="">Profile</a></li>
        </ul>
    </div>
</div>



